:root {
  --dark: #141414;
  --blue: rgb(98, 181, 248);
  --sunglow: #FDCA40;
  --orange: #F79824;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--dark);
}

.heading {
  color: var(--blue);
  text-align: center;
}

.heading span {
  color: var(--orange);
}

.prices-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(196, 196, 196);
}

.coin-price {
  background-color: white;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-price > * {
  padding: 0.3rem;
}

.addButton {
  float: right;
}

.portfolio {
  background-color: white;
  text-align: center;
  padding: 0.2rem;
  margin: 1rem 0;
}
